
ConsoleTest/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
ConsoleTest/obj/Debug/ConsoleTest.csproj.CoreCompileInputs.cache
ConsoleTest/obj/Debug/ConsoleTest.csproj.FileListAbsolute.txt
ConsoleTest/obj/Debug/ConsoleTest.csprojAssemblyReference.cache
ConsoleTest/obj/Debug/ConsoleTest.exe
ConsoleTest/obj/Debug/ConsoleTest.pdb
ConsoleTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleTest/obj/Debug/DSI-StreamerConnector.csproj.CoreCompileInputs.cache
ConsoleTest/obj/Debug/DSI-StreamerConnector.csproj.FileListAbsolute.txt
ConsoleTest/obj/Debug/DSI-StreamerConnector.csprojAssemblyReference.cache
ConsoleTest/obj/Debug/DSI-StreamerConnector.exe
ConsoleTest/obj/Debug/DSI-StreamerConnector.pdb
ConsoleTest/bin/Debug/test.txt
ConsoleTest/bin/Debug/DSI-StreamerConnector.pdb
ConsoleTest/bin/Debug/DSI-StreamerConnector.exe.config
ConsoleTest/bin/Debug/DSI-StreamerConnector.exe
ConsoleTest/bin/Debug/ConsoleTest.pdb
ConsoleTest/bin/Debug/ConsoleTest.exe.config
ConsoleTest/bin/Debug/ConsoleTest.exe
